@use '../utils/vars' as *;

// ============================================
// CTA BANNER
// ============================================

.cta-banner {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: $color-gray;
  border-radius: 45px;
  padding: 40px 60px;
  overflow: hidden;

  @media (max-width: 991px) {
    border-radius: 36px;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    gap: 30px;
  }

  @media (max-width: 575px) {
    padding: 32px 28px;
    border-radius: 28px;
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;

    @media (max-width: 900px) {
      align-items: center;
    }

    @media (max-width: 575px) {
      gap: 20px;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: $fw-medium;
    line-height: 1.2;

    @media (max-width: 575px) {
      font-size: 24px;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;

    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__img {
    width: 360px;
    height: auto;
    flex-shrink: 2;
    align-self: flex-end;
    transform-origin: center;
    animation: hero-float 5s ease-in-out infinite alternate;

    @media (max-width: 900px) {
      width: 300px;
      align-self: center;
    }

    @media (max-width: 575px) {
      width: 280px;
    }
  }
}
